<p align="right">
  [<a href="wiki.cgi?node=[% node_param %]&action=edit">Edit this page</a>]
  [<a href="wiki.cgi?node=Recent%20Changes">Recent Changes</a>]
  [<a href="[% home_link %]">[% home_name %]</a>]
</p>
