[% INCLUDE header.tt %]

<h1 align=center>[% site_name %] - [% node_name %]</h1>

[% content %]

<p>
  <a href="[% cgi_url %]?node=[% node_param %]&action=edit">Edit this page</a>
</p>

</body>
</html>
